html, body {
margin: 0px;
}
#image_container_1 {
    position: absolute;
    left: 0px;
    top: 85px;
    margin: 10px;
    padding: 5px 5px;
    font-size: 20px;
    font-family: Helvetica;
    color: white;
    background-color: rgba(50, 50, 50, 0.3);
}
#text_end {
    position: absolute;
    right: 80px;
    top: 80px;
    margin: 10px;
    padding: 5px 5px;
    font-size: 20px;
    font-family: 'Cherry Swash', cursive;
    font-size: 1em;
    font-weight: 700;
}

#image_container_2 {
    position: absolute;
    right: 0px;
    top: 140px;
    margin: 10px;
    padding: 5px 5px;
    font-family: 'Cherry Swash', cursive;
    font-size: 1em;
    font-weight: 700;
}
#image_container_3 {
    position: absolute;
    right: 0px;
    bottom: 140px;
    margin: 10px;
    padding: 5px 5px;
    font-family: 'Cherry Swash', cursive;
    font-size: 1em;
    font-weight: 700;
    color: white;
}


video {
    width: 100%;
    height: 100%;
}

figcaption {
  padding: 5px;
  font-family: 'Cherry Swash', cursive;
  font-size: 1em;
  font-weight: 700;
  color: red;
  border: none;
  background: transparent;
  word-wrap:normal;
  text-align: center;
}
