
 #TimeFromNowMin{
    left: 0%;
    top: 5%;
    margin: 1%;
    width: 40px;
    height: auto;
 }
 
  #MediaTimeMin{
    left: 0%;
    top: 15%;
    margin: 2%;
    width: 40px;
    height: auto;
 }
 #LaunchButton{
    right: 0%;
    top: 90%;
    margin: 1%;
    width: 80px;
    height: auto;
 }
  #name_button1 {
    top: 50%;
    display:inline-block;
    height: 35px;  
    width: 124px;
    background:white;
    font-size: 12;
    left:5px;
}
 #name_button2 {
    display:inline-block;
    height: 35px;  
    width: 124px;
    background:white;
    font-size: 12;
    left:15px;
}
 #name_button3 {
    display:inline-block;
    height: 35px;  
    width: 124px;
    background:white;
    font-size: 12;
    left:20px;
}
 #name_button4 {
    display:inline-block;
    height: 35px;  
    width: 124px;
    background:white;
    font-size: 12;
    left:30px;

}
 #img_button1 img {
    display: block;
    height: 130px;  
    width: 108px;
}
#img_button1:focus
{
    background:cadetblue;
}
 
#img_button2 img {
    display: block;
    height: 130px;  
    width: 108px;
}
#img_button2:focus
{
    background:cadetblue;
}
 #img_button3 img {
    display: block;
    height: 130px;  
    width: 108px;
}
#img_button3:focus
{
    background:cadetblue;
}
 #img_button4 img {
    display: block;
    height: 130px;  
    width: 108px;
}
#img_button4:focus
{
    background:cadetblue;
}

#outputBox{
    height: 120px;  
    width: 400px;
}

